

a{
    text-decoration: none;
    color: inherit;
}


.domain_image_header_wrapper a{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.loginPage_main{
    width:305px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 230px;
    margin-top: 50px;
}

.main_section1{
    width:305px;
    display: flex;
    flex-direction: column;
    margin-bottom:30px;
    border-bottom:1px solid rgba(250, 249, 249, 0.5);
    
}

.main_section1-topBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.topBox_loginText{
    color:#66493f;
    font-weight: bolder;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 32px;
}


.topBox_forgotPassword{
    font-size:11px;
    color: #66493f;
}

.main_section1-loginBox{
    width:305px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 30px;
}

.LonIn_input{
    width:260px;
    font-size:15px;
    padding:20px 17px;
    border:none;
    text-decoration: none;
}

.LonIn_input:not(:last-child){
    border-bottom:1px solid rgba(0, 0, 0, 0.2);
    margin:3px;
}

.login_button{
    width:305px;
    font-size:15px;
    padding: 13px 0;
    border-radius: 30px;
    background-color: #66493f;
    color:rgb(224, 243, 224);
    border:none;
    margin-bottom: 25px;
}

.login_button:hover{
    width:305px;
    height: 51px;
    font-size:15px;
    padding: 13px 0;
    border-radius: 30px;
    background-color: #66493f;
    color:balck;
    border:none;
    margin-bottom: 25px;
    
}

.main_section2{
    width:305px;
    display: flex;
    flex-direction: column;
}

.main_section2-text{
    color:white;
    margin-bottom:15px;
    font-size:12px;
    font-weight: bolder;
}

.main_section2-joinMember{
    width:305px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bf4044;
    color:white;
    border:none;
    padding:13px 0;
    font-size:15px;
    border-radius: 30px;
    text-decoration: none;
    color: inherit; 
    text-decoration: none;
}

.main_section2-joinMember:hover{
    width:305px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bf4044;
    color:white;
    border:none;
    padding:13px 0;
    font-size:15px;
    border-radius: 30px;
    color: inherit; 
    
}



.ResetButtons{
    display: inline;
    align-items: center; 
    justify-content: space-between;  
    width:350px; 
}
.idResetButton{
    margin-left: 30%;
    margin-bottom: 60px;
    width: 200px;
    border-radius: 30px;
    padding: 20px 0;
    background-color:rgba(0, 0, 0, 0.5);
    color:white;
    border: none;
    margin-bottom: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:12px; }
    


 .passwordResetButton{
    margin-bottom: 60px;
    margin-left: 30%;
    width: 200px;
    border-radius: 30px;
    padding: 20px 0;
    background-color:rgba(0, 0, 0, 0.5);
    color:white;
    border: none;
    margin-bottom: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:12px;}
    
.modal-title{
    font-size: 15px;
}     


.topBox_forgotPassword{
    color: #66493f;
}




